<launch>
  <!-- the "sim" argument controls whether we connect to a Simulated or Real robot -->
  <!--  - if sim=false, a robot_ip argument is required -->
  <arg name="sim" default="false" />
  <arg name="robot_ip" default="192.168.1.10" unless="$(arg sim)" />
 
  <include file="$(find abb_irb120_moveit_config)/launch/moveit_planning_execution.launch">
     <arg name="sim" value="$(arg sim)" />
     <arg name="robot_ip" value="$(arg robot_ip)" unless="$(arg sim)"/>
  </include>
  
  <node name="robot_mover" pkg="robot_mover" type="robot_mover"	output="screen" launch-prefix="xterm -e"
	/>
</launch>

