<launch>

 <arg name="view_camera" default="false" />
 <arg name="camera_id" default="1" />
 <arg name="gui" default="false" />

  <node pkg="bolt_detection" name="bolt_detector" type="boltdetector" output="screen">
    <param name="view_camera" value="$(arg view_camera)" />
    <param name="camera_id" value="$(arg camera_id)" />
    <param name="gui" value="$(arg gui)" />
  </node>

</launch>
